
  <form action="/dashboard/adddifficulty" method="POST">
    <div class="field">
      <label class="label">Difficulty Level</label>
      <input class="input" type="text" placeholder="Enter difficulty level" name="title">
    </div>
    <button class="button is-link">Add Difficulty</button>
  </form>
