<form class="box" action="/difficulty/{{difficulty._id}}/addspot" method="POST">
  <label>Enter Spot Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="number" step="0.0000001" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="number" step="0.0000001" placeholder="Enter Longitude" name="longitude">
      </div>
       <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Spot</button>
</form>
